@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  
  height: 140vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(15deg, #111111 10%, #2b2b2b 90%);
}
::-webkit-scrollbar{width: 0}
header{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content:start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}
header img{
      transform: scale(0.15);
}
.logobox{
  display: flex; 
  flex-direction:row; 
  align-items: center;
  justify-content:center;
  width: 500px;
  height: 80px;
}
header ul{
  margin-right: 30px;
  color: black; 
  font-size: 25px;
  list-style:none; 
  display: flex; 
  flex-direction:row; 
  align-items: center;
  justify-content:right; 
  column-gap: 60px;
  width:2000px;
  transition: color 0.5s ease;
}
header ul li{
  color: inherit !important;
}
header ul a{
  color: inherit !important;
  display: flex;
  width: 150px;
}
.content{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3%;
  padding-bottom:0px;
}
a:link{
  color:white;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
}
a:hover{
  color:white;
  text-decoration: underline;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  width: 100%;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(40deg, #000000f0, #000000f0);
  color: white;
  padding: 3px;
}
.container form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
label{
  min-width: 200px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #000000f0 ;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #000000f0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #000000f0, #000000f0, #000000f0, #000000f0);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
footer{
  width: 100%;
  height: 100px;
  background-color: #000000;
}